@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-white mb-0">Product List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row mb-3">
            <div class="col"></div>
            <div class="col text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary btn-sm">
                    <i class="bi bi-plus-circle"></i> Create New
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tblData" class="table table-bordered table-striped mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Price</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.ISBN</td>
                            <td>@item.ListPrice @* .ToString("C") *@ </td>
                            <td>@item.Author</td>
                            <td>             </td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a asp-action="Upsert" asp-controller="Product" asp-route-id="@item.Id"
                                       class="btn btn-outline-secondary btn-sm">
                                        Update
                                    </a>
                                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id"
                                       class="btn btn-outline-danger btn-sm">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}
